main {
    min-height: 100dvh;

    section {
        border: 1px solid var(--color-border);
        border-radius: 1rem;
        max-width: fit-content;
        padding: 1rem;

        h1 {
            margin-bottom: 1.5rem;
        }

        form {

            .col-12 {
                margin-bottom: 1rem;

            }

            .col-12>mat-form-field,
            .col-12>button {
                width: 100%;
            }

            button {
                font-size: 1.5rem;
            }

        }
    }
}